<form class="newMessageForm" method="POST" action="/new">
    <h1>Create New Message</h1>
    <div class="inputContainer">
        <label for="messageUser">Name:</label>
        <input class="input" type="text" id="messageUser" name="messageUser" placeholder="Jeppe" required>
    </div>
    <div class="inputContainer"> 
        <label for="messageText">Message</label>
        <textarea name="messageText" class="input" id="messageText" placeholder="Hello world!" required></textarea>     
    </div>
    <input class="newMessageButton" type="submit" value="submit">  
</form>
