<header>
    <a class="homeLink" href="/">HOME</a>
    <h1>My Mini Messageboard</h1>
    <a class="homepageLink" target="_blank" href="https://jjrasmussen.github.io/homepage/">MY PROJECTS</a>
</header>