<head>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <ul>
        <% for (let i = 0; i < messages.length; i++){ %>
            <ul><%= messages[i].text %></ul>
        <% } %>
    </ul>
    <%- include('form') %>

</body>